body {
    margin: 0;
    padding: 0;
    
  }
  #home::before{
      content: "";
      position: absolute;
      background: url(https://cdn.pixabay.com/photo/2016/06/01/06/26/open-book-1428428__340.jpg)
        no-repeat center center/cover;
      height: 660px;
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: -1;
      opacity: 0.89;
    }
    h1{
      text-align: center;
    }
  
    .item1 {
      text-align: center;
       margin-top: 150px;
    }
    .item2 {
      text-align: center;
      margin-top: 150px;
    }
  
  input {
    display: block;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 25px;
    border-radius: 4px;
    text-align: center;
  }
  input:hover{
      color: rgb(32, 29, 29);
      background-color:lightgray;
      
  }
  button {
    background-color: rgba(44, 136, 64, 0.836);
    color: #fff;
    font-size: 20px;
    margin-top: 8px;
  
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
  }
  button:hover {
    color: #fff;
    background-color: lightskyblue;
    cursor: pointer;
  }
  p {
    font-size: 1.5em;
    font-weight: bolder;
    display: none;
  }
  
  .valid {
    color: rgb(4, 130, 4);
  }
  
  .invalid {
    color: red;
  }
  